<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
</head>

<body>
  <h1> Bitcoin Charts </h1>
  <p>Bitcoin values</p>

  <h1>Filters</h1>
  <label for="">From</label>
  <input type="date" name="" id="start-date">
  <label for="">To</label>
  <input type="date" name="" id="end-date">
  <select name="" id="currencies">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <button type="submit">Search</button>

  <h1>Values</h1>
  

  <canvas id="prices" width="200" height="200"></canvas>

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>